
<div class="row">
  <div class="col-md-12">
      <abbr title="HyperText Markup Language" class="initialism">        
        <p class="text-capitalize"><strong>hijo-aa</strong></p>
      </abbr>
  </div>
  <div class="col-md-12">

    <form class="form-inline">
      <div class="form-group">
        <label for="texto" class="col-sm-2 control-label">Mensaje</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="texto" name="texto" placeholder="ingrese texto..." [(ngModel)]="mensaje">
        </div>
        <pre>{{mensaje}}</pre>
      </div>
    </form>  

  </div>
</div>